html
    head
        title TreinaWeb
    body
    each val in data
        li
            div=val.nome
            div=val.categoria
            br
    br
    br

    form(action="/" method="post")
        label Nome:
        input(
            type="text"
            name="nome"
            required
        )
        label Categoria:
        select(name="categoria" required)
            option Back-end
            option Desenvolvimento de Jogos
            option Front-end
            option Mobile
        input(
            type="submit"
            value="enviar"
        )
